/***********************************************
* Meow App 8.0 Theme ...in progress, forever :P
* Main Stylesheet
*
* @author Rochelle Lewis https://github.com/rochellelewis
************************************************/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&&family=Roboto:ital,wght@0,400;0,900;1,400;1,900&family=Press+Start+2P&display=swap');

/* some classic krylon spraypaint color variables for our meow theme :D */
:root {
	--krylon-watermelon: hsl(342, 100%, 57%); /*rgb(255, 38, 103)*/
	--krylon-seafoam: hsl(184, 47%, 73%); /*rgb(154, 215, 219)*/
	--krylon-sun-yellow: hsl(51, 95%, 54%); /*rgb(249, 215, 28)*/
	--krylon-global-blue: hsl(232, 45%, 48%); /*rgb(67, 82, 176)*/
	--krylon-rich-plum: hsl(309, 92%, 25%); /*rgb(122, 5, 105)*/
	--krylon-purple: hsl(270, 50%, 18%) /*rgb(46, 23, 69)*/
}

/***********************************************
* AUTHOR UTILITY CLASSES
************************************************/
/**
* .mh-100 is a bootstrap class that we've modified/boosted here for this layout.
* See: https://getbootstrap.com/docs/4.5/utilities/sizing/#relative-to-the-parent
**/
.mh-100 {
	min-height: 100vh;
}

.bg-dark-50 {
	background-color: rgba(0,0,0,0.5) !important;
}

.bg-black {
	background-color: #000;
}

.color-krylon-watermelon {
	color: var(--krylon-watermelon) !important;
}
.color-krylon-seafoam {
	color: var(--krylon-seafoam) !important;
}
.color-krylon-sun-yellow {
	color: var(--krylon-sun-yellow) !important;
}
.color-krylon-global-blue {
	color: var(--krylon-global-blue) !important;
}
.color-krylon-rich-plum {
	color: var(--krylon-rich-plum) !important;
}
.color-krylon-purple {
	color: var(--krylon-purple) !important;
}

.font-bungee-shade {
	font-family: 'Bungee Shade', 'Roboto', sans-serif;
}

.font-press-start {
	font-family: 'Press Start 2P', Courier, monospace;
}

/* this is preferable to bootstrap's out of date word-wrap class */
.break-word {
	word-break: break-word;
	word-wrap: break-word;
}

.small-75 {
	font-size: 75% !important;
}

/* sets position: fixed on md breakpoint */
@media screen and (min-width: 768px) {
	.position-fixed-md {
		position: fixed;
	}
}

/***********************************************
* MEOW APP CUSTOM THEME STYLES
************************************************/

/* apply background image and fallback color here */
html {
	background: url("../img/nyan-cat.jpg") no-repeat top right fixed #000;
	background-size: cover;
}

body {
	background-color: transparent;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
 a,
 a:link,
 a:visited,
 a:hover,
 a:active {
	 -webkit-transition: all 250ms ease-in-out;
	 -moz-transition: all 250ms ease-in-out;
	 -ms-transition: all 250ms ease-in-out;
	 -o-transition: all 250ms ease-in-out;
	 transition: all 250ms ease-in-out;
 }

/* only hard edges here */
button,
a.btn,
.card,
.badge,
.modal-content,
.form-control,
.input-group-text,
.alert,
.jumbotron,
.dropdown-menu {
	border-radius: 0 !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.navbar-brand {
	font-family: 'Audiowide', monospace, sans-serif;
}

/* border color for our dark cards */
div.card.border,
div.card-footer,
div.card-header,
div.card-body {
	border-color: rgba(255,255,255, 0.125) !important;
}

div.alert {
	word-break: break-word;
	word-wrap: break-word;
}

/* custom light border */
.border-light {
	border: 1px solid;
	border-color: rgba(255,255,255,0.2) !important;
}

/***********************************************
* CUSTOM MEOW BUTTONS
************************************************/
/* we actually gotta set this for react bootstrap? huh. */
button {
	cursor: pointer;
}

/* no pointer on disabled buttons! */
button:disabled {
	cursor: unset;
}

/* remove persistent box shadow on pesky button focus state */
.btn:focus, .btn.focus,
.btn-outline-danger:focus, .btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:focus, .btn-outline-danger.focus {
	box-shadow: none;
}

/* outline seafoam */
.btn-outline-seafoam {
	color: var(--krylon-seafoam);
	border-color: var(--krylon-seafoam);
}

.btn-outline-seafoam:not(:disabled):not(.disabled):active,
.btn-outline-seafoam:not(:disabled):not(.disabled).active,
.btn-outline-seafoam:hover {
	background-color: var(--krylon-seafoam);
	border-color: var(--krylon-seafoam);
	color: #000;
}

/* solid seafoam */
.btn-seafoam {
	background-color: var(--krylon-seafoam);
	color: #000;
	border-color: var(--krylon-seafoam);
}

.btn-seafoam:active,
.btn-seafoam:not(:disabled):not(.disabled):active {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.btn-seafoam:active:focus,
.btn-seafoam:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

/* outline sun yellow */
.btn-outline-sun-yellow {
	color: var(--krylon-sun-yellow);
	border-color: var(--krylon-sun-yellow);
}

.btn-outline-sun-yellow:not(:disabled):not(.disabled):active,
.btn-outline-sun-yellow:not(:disabled):not(.disabled).active,
.btn-outline-sun-yellow:hover {
	background-color: var(--krylon-sun-yellow);
	border-color: var(--krylon-sun-yellow);
	color: #000;
}

/* outline watermelon */
.btn-outline-watermelon,
.btn-outline-watermelon:disabled {
	color: var(--krylon-watermelon);
	border-color: var(--krylon-watermelon);
}

.btn-outline-watermelon:not(:disabled):not(.disabled):active,
.btn-outline-watermelon:not(:disabled):not(.disabled).active,
.btn-outline-watermelon:not(:disabled):hover {
	background-color: var(--krylon-watermelon);
	border-color: var(--krylon-watermelon);
	color: #fff !important;
}

/* solid watermelon */
.btn-watermelon {
	background-color: var(--krylon-watermelon);
	color: #fff !important;
	border-color: var(--krylon-watermelon);
}

.btn-watermelon:active,
.btn-watermelon:not(:disabled):not(.disabled):active,
.btn-watermelon:not(:disabled):hover {
	color: #fff !important;
	background-color: hsl(342, 60%, 45%);
	border-color: hsl(342, 40%, 45%);
}

.btn-watermelon:active:focus,
.btn-watermelon:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5) !important;
}

/***********************************************
* DARK THEME SCROLLBAR!
* Author: @subfauna
* See: https://codepen.io/subfauna/pen/CLtmF
************************************************/
html {
	scrollbar-face-color: #646464;
	scrollbar-base-color: #646464;
	scrollbar-3dlight-color: #646464;
	scrollbar-highlight-color: #646464;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #000;
	scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}

/***********************************************
* LAYOUT
************************************************/
@media only screen and (min-width: 998px) {
	section#about-me,
	section#projects,
	section#contact-me {
		padding: 10rem 0 9rem 0 !important;
	}
}

/***********************************************
* NAVBAR
************************************************/
.navbar-dark .navbar-nav .nav-link {
	color: var(--krylon-seafoam);
	font-weight: 900;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
	color: hsl(184, 100%, 95%);
}

/* keep social icons expanded */
.navbar-expand-sm ul.navbar-nav.social-icons {
	flex-direction: row !important;
}

.navbar-expand-sm ul.navbar-nav.social-icons .nav-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

/***********************************************
* WELCOME SECTION
************************************************/
#welcome .inner-wrap {
	border: 10px solid;
	border-color: var(--krylon-sun-yellow);
}

#welcome p.lead {
	/*text-transform: uppercase;*/
	font-weight: 900;
}

@media only screen and (min-width: 998px) {
	#welcome h1 {
		font-size: 4rem;
	}

	#welcome .jumbotron .col-lg-4 {
		justify-content: flex-end;
	}
}

@media only screen and (min-width: 1200px) {
	#welcome h1 {
		font-size: 5rem;
	}
}
/***********************************************
* ABOUT ME SECTION
************************************************/

@media only screen and (min-width: 768px) {
	#about-me h2 {
		font-size: 3.5rem;
	}
}

@media only screen and (min-width: 1200px) {
	#about-me h2 {
		font-size: 4rem;
	}
}

/***********************************************
* SKILLS SECTION
************************************************/
#technical-skills {
	background-color: var(--krylon-purple);
}

#technical-skills h3 {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;
	text-shadow: 2px 2px var(--krylon-watermelon);
}

/***********************************************
* PROJECTS SECTION
************************************************/
#projects h3 {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;
	text-shadow: 2px 2px var(--krylon-rich-plum);
}

@media only screen and (min-width: 768px) {
	#projects h2 {
		font-size: 3.5rem;
	}
}

/***********************************************
* CONTACT ME SECTION
************************************************/
#contact-me {
	background-color: rgba(255,255,255, 0.85);
	color: #000;
}

#contact-me .border {
	border: 10px solid var(--krylon-watermelon) !important;
}

#contact-me .form-control {
	color: #000;
	border-color: #000;
}

#contact-me .input-group-text {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

@media only screen and (min-width: 768px) {
	section#contact-me h3 {
		font-size: 3rem;
	}
}

@media only screen and (min-width: 992px) {
	section#contact-me h3 {
		font-size: 4rem;
	}
}

/***********************************************
* FOOTER
************************************************/
#footer {
	background-color: var(--krylon-sun-yellow);
	color: #000;
}

/***********************************************
* FONTAWESOME
************************************************/
i.fa-2x {
	font-size: 1.5rem;
}